.chatbox {
  width: 666px;
  display: block;
  border-radius: rfs(.75rem);
  padding-bottom: rfs(.1rem);
	background-color: rgba(29, 32, 44, 0.5)
}

.chat-list {
  margin: auto;
  padding: rfs(1.25rem);
}

.messages {
  text-align: left;
  list-style: none;
	color: #ccc;
  padding: rfs(.2rem);
  margin-left: rfs(9rem);
  text-indent:rfs(-9rem);
}

.message-form {
  display: flex;
  height: 5rem;
}

#message {
  width: 75%;
  height: 1.5rem;
  border: 1px solid #ccc;
  border-radius: rfs(.5rem);
  padding: rfs(.5rem .5rem);
  margin: auto;
}

#send {
  width: 15%;
  border-radius: rfs(.75rem);
  padding: rfs(.5rem .5rem .5rem .5rem);
  margin: auto;
}
