.chatbox {
  width: 666px;

  display: block;
  border-radius: rfs(.75rem);
  padding-top: rfs(2.5rem);
	background-color: rgba(29, 32, 44, 0.5)
}

.messages {
  text-align: left;
  list-style: none;
	color: #ccc;
}

.message-form {
  display: flex;
}

#message {
  width: 75%;
  height: 2rem;
  border: 1px solid #ccc;
  border-radius: rfs(.5rem);
  padding: rfs(.5rem 1rem);
  margin: rfs(.5rem .5rem 0 .75rem);
}

#send {
  width: 15%;
  border-radius: rfs(.75rem);
  padding: rfs(.35rem .5rem);
}
