@font-face {font-family: "Times-Newer-Roman";
			      src: url('util/fonts/TimesNewerRoman-Regular.otf');
            font-display: swap;
            };
@font-face {font-family: "Quicksand";
			      src: url('https://fonts.googleapis.com/css2?family=Quicksand');
            font-weight: 700;
            font-display: swap;
            };
@font-face {font-family: "Open Sans";
			      src: url('https://fonts.googleapis.com/css2?family=Open+Sans');
            font-weight: 300;
            font-display: swap;
            };

@custom-media --tiny-viewport (max-width: 499px);
@custom-media --small-viewport (min-width: 500px);
@custom-media --reg-viewport (min-width: 720px);
@custom-media --lrg-viewport (min-width: 1200px);

body {
	background-color: #1D202C;
	min-height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	&::-webkit-scrollbar {
	  display: none;
	}
}

.curtains-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  pointer-events: none;
}

.contentWrap {
	position: relative;
	background-color: rgba(21, 24, 35, 0.7);
	box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.3);
	border-radius: rfs(.75rem);
	&:after {
	  position: absolute;
	  content: '';
	  top: 0;
	  left: 0;
	  right: 0;
	  z-index: -1;
	  height: 100%;
	  width: 100%;
	  margin: auto;
	  filter: blur(2rem);
		transform: scale(1.075);
	  background: linear-gradient(90deg, #0fffc1, #7e0fff);
	  background-size: 200% 200%;
	  animation: animateGlow 10s ease infinite;
	  @keyframes animateGlow {
	    0%  {
			background-position: 0% 50%
		}
		50% {
			background-position: 100% 50%
		}
	    100% {
			background-position: 0% 50%
			}
	  }
	}
}

.video-plane {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
}

.video-plane video {
    display: none;
}

.authwrap{
  overflow: hidden;
  .signup{
  	position: relative;
  	width:100%;
  	height: 100%;
  }
  .login {
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
    transition: .8s ease-in-out;
    label {
    	color: #573b8a;
    	transform: scale(.6);
      padding-top: rfs(1rem);
    }
  }
  #chk{
  	display: none;
    &:checked ~ .login label{
    	transform: scale(1);
    }
    &:checked ~ .signup label{
    	transform: scale(.6);
    }
  }
  label{
  	color: #fff;
  	font-size: rfs(2.3rem);
  	justify-content: center;
  	display: flex;
  	margin: rfs(2.8rem);
  	font-weight: bold;
  	cursor: pointer;
  	transition: .5s ease-in-out;
  }
  input{
  	width: 60%;
  	height: 1.2rem;
  	background: #e0dede;
  	justify-content: center;
  	display: flex;
  	margin: rfs(1.25rem auto);
  	padding: rfs(.6rem);
  	border: none;
  	outline: none;
  	border-radius: rfs(.33rem);
  }
}

button{
  width: 60%;
  height: 40px;
  margin: rfs(0.6rem auto);
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: rfs(1rem);
  font-weight: bold;
  margin-top: rfs(1.25rem);
  outline: none;
  border: none;
  border-radius: rfs(.33rem);
  transition: .2s ease-in;
  cursor: pointer;
  &:hover{
    background: #6d44b8;
  }
}

@media (--tiny-viewport) {
  .authwrap {
  	width: 75vw;
  	height: 57.5vh;
  }
  .login {
	  transform: translateY(-130px);
  }
  #chk:checked ~ .login{
  	transform: translateY(-420px);
  }
}

@media (--small-viewport) {
  .authwrap {
  	width: 60vw;
  	height: 62vh;
  }
  .login {
	  transform: translateY(-140px);
  }
  #chk:checked ~ .login{
  	transform: translateY(-450px);
  }
}

@media (--reg-viewport) {
  .authwrap {
	  width: 43vw;
	  height: 95vh;
  }
  .login {
	  transform: translateY(-160px);
  }
  #chk:checked ~ .login{
	   transform: translateY(-455px);
   }
}

@media (--lrg-viewport) {
  .authwrap {
	  width: 37.5vw;
	  height: 72.5vh;
  }
  .login {
	  transform: translateY(-170px);
  }
  #chk:checked ~ .login{
	   transform: translateY(-515px);
   }
}

.chatbox {
  display: flex;
  flex-direction: column-reverse;
  border-radius: rfs(.75rem);
  border: .75rem solid transparent;
  padding: rfs(.1rem);
  background-color: rgba(29, 32, 44, 0.5);
  overflow:auto;
  overflow-y: scroll;
  direction: ltr;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 1.1rem;
  }
  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 .12rem .12rem rgba(255, 255, 255, 0.25);
    border-radius: 100px;
    backdrop-filter: blur(85%);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.4);
  }
  &::-webkit-scrollbar-thumb {
      background: linear-gradient(180deg, #f57abc 0%, #708AD4 99%);
      border: rfs(.3rem) solid transparent;
      box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.55);
      border-radius: 100px;
      background-clip: content-box;
      &:hover {
        background: linear-gradient(180deg, #f57abc 0%, #708AD4 99%);
        box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.65);
        border: rfs(.3rem) solid transparent;
        border-radius: 100px;
        background-clip: content-box;
        animation: animateGlow 5s ease infinite;
        @keyframes animateGlow {
         0%  {
         background-position: 0% 50%
        }
        50% {
         background-position: 100% 50%
        }
         100% {
         background-position: 0% 50%
         }
       }
     }
   }
   .chat-list {
     padding: rfs(0 1.25rem);
     .messages {
       text-align: left;
       list-style: none;
       padding-top: rfs(.25rem);
       .msgusername {
         font-family: 'Quicksand', sans-serif;
         font-weight: bold;
         font-size: rfs(1.1rem);
         color: #eee;
       }
       .msgdate {
         font-family: 'Times Newer Roman';
         font-size: rfs(.69rem);
         font-style: oblique 10deg;
         color: darkgrey;
         padding: rfs(1rem 0);
         transition: font-size .5s ease;
         transition-delay: .25s;
         &:hover{
           font-size: rfs(.8rem);
         }
       }
       .actualmsg {
         font-family: 'Open Sans', sans-serif;
         font-weight: normal;
         color: #ccc;
         font-size: rfs(.915rem);
         padding-bottom: rfs(1.25rem);
         transition: color .25s ease;
         transition-delay: .15s;
         &:hover{
           color: #e0dede;
         }
       }
     }
   }
 }

.message-form {
  display: flex;
  height: 5rem;
  #message {
    width: 75%;
    height: 1.5rem;
    border: 1px solid #ccc;
    border-radius: rfs(.5rem);
    padding: rfs(.5rem .5rem);
    margin: auto;
  }
  #send {
    width: 15%;
    border-radius: rfs(.75rem);
    padding: rfs(.5rem .5rem .5rem .5rem);
    margin: auto;
  }
}

#logout {
	position: absolute;
	right: rfs(1.25rem);
	top: rfs(.1rem);
	max-width: 5rem;
}

/*@media (--tiny-viewport) {
  .chatbox {
    width: 85vw;
    height: 75vh;
  }
}

@media (--small-viewport) {
  .chatbox {
    width: 80vw;
    height: 70vh;
  }
}*/

@media (--reg-viewport) {
  .chatbox {
    width: 69vw;
    height: 60vh;
  }
}

/*@media (--lrg-viewport) {
  .chatbox {
    width: 63vw;
    height: 57.5vh;
  }
}*/
