@use 'node_modules/cssnext';
@use 'node_modules/postcss-nested';
@use 'node_modules/postcss-simple-vars';
@use 'node_modules/rfs';

html, body {
	height: 100%;
}

body {
	background-color: #1D202C;
}

.app {
	display: flex;
	justify-content: center;
}

.contentWrap {
	position: relative;
	width: 65vw;
	height: 70vh;
	background-color: rgba(21, 24, 35, 0.7);
	box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.3);
	border-radius: rfs(.75rem);
	&:after {
	  position: absolute;
	  content: '';
	  top: 0;
	  left: 0;
	  right: 0;
	  z-index: -1;
	  height: 100%;
	  width: 100%;
	  margin: auto;
	  filter: blur(2rem);
		transform: scale(1.075);
	  background: linear-gradient(90deg, #0fffc1, #7e0fff);
	  background-size: 200% 200%;
	  animation: animateGlow 10s ease infinite;

	  @keyframes animateGlow {
	    0%  {
			background-position: 0% 50%
		}

		50% {
			background-position: 100% 50%
		}

	    100% {
			background-position: 0% 50%
			}
	  }
	}
}

.disallow-chat {
	max-width: 57.5vw;
	margin: auto;
	display: block;
	border: 1px solid #ccc;
	border-radius: rfs(.75rem);
	padding-top: rfs(2.5rem);
	background-color: rgba(29, 32, 44, 0.5);
}

a {
  text-decoration: none;
  transition: all .25s ease;
}

h1, p {
	text-align: center;
	color: #ccc;
}

.main-nav {
  text-align: right;
  margin-bottom: rfs(3rem);
  padding: rfs(0 1.25rem);
}

.main-nav a:hover {
  text-decoration: underline;
}

.main-nav a {
  display: inline-block;
  padding: rfs(1.25rem);
}

.auth-container {
  text-align: center;
}

.auth-container input {
padding:  rfs(.75rem 1.25rem);
margin: auto;
display: block;
border: 1px solid #ccc;
border-radius: rfs(.5rem);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.emailwrap {
  display: flex;
	height: rfs(3rem);
	padding: rfs(.3rem 4.2rem .3rem .3rem);
	width: 400px;
	position: relative;
	background-color: #e4e4e4;
}

.emailwrap span {
  position: absolute;
  background-color: hsla(1, 1%, 100%, 1);
  color: #000;
}

.submit {
  margin: rfs(.5rem);
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: transparent;
  border-radius: rfs(.5rem);
  padding: rfs(.35rem .5rem);
}

.chatbox {
  max-width: 57.5vw;
  margin: auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: rfs(.75rem);
  padding-top: rfs(2.5rem);
	background-color: rgba(29, 32, 44, 0.5)
}

.messages {
  text-align: left;
  list-style: none;
	color: #ccc;
}

#message {
  width: 47.5vw;
  height: 2rem;
  border: 1px solid #ccc;
  border-radius: rfs(.5rem);
  -webkit-background-clip: border-box;
  padding: rfs(.5rem 1rem);
  margin: rfs(.5rem .5rem 0 .75rem);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#send {
  border: 1px solid #ccc;
  border-radius: rfs(.75rem);
  padding: rfs(.35rem .5rem);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
