/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

@use cssnext;
@use postcss-nested;
@use postcss-simple-vars;

* {
	box-sizing: border-box;
}

body {
  background: hsl(204 100% 5%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  text-align: center;
  background: radial-gradient(
    hsl(100 100% 60%),
    hsl(200 100% 60%)
  ) fixed;
  background: conic-gradient(
    hsl(100 100% 60%),
    hsl(200 100% 60%),
    hsl(100 100% 60%)
  ) fixed;
	background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main-nav {
  text-align: right;
  margin-bottom: 50px;
  padding: 0 25px;
}

a {
  text-decoration: none;
  transition: all .25s ease;
}

a:hover {
  text-decoration: underline;
}

.main-nav a {
  display: inline-block;
  padding: 25px 25px;
}

.auth-container {
  text-align: center;
}

.auth-container input {
padding: 12px 20px;
margin: auto;
display: block;
border: 1px solid #ccc;
border-radius: .5rem;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.emailwrap {
  display: flex;
	height: 44px;
	padding: 5px 70px 5px 5px;
	width: 400px;
	position: relative;
	background-color: #e4e4e4;
}

.emailwrap span {
  position: absolute;
  background-color: hsla(1, 1%, 100%, 1);
  color: #000;
}

.submit {
  margin: 8px 8px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: transparent;
  border-radius: .5rem;
  padding: .35rem .5rem;
}

.chatbox {
  max-width: 55vw;
  margin: auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: .75rem;
  padding-top: 2.5rem;
  -webkit-background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.messages {
  text-align: left;
  list-style: none;
}

#message {
  width: 47.5vw;
  height: 2rem;
  border: 1px solid #999;
  border-radius: .25rem;
  -webkit-background-clip: border-box;
  padding: .5rem 1rem;
  margin: .5rem .5rem 0 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#send {
  border: 1px solid #ccc;
  border-radius: .5rem;
  padding: .35rem .5rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
