@font-face {font-family: "Times-Newer-Roman";
			      src: url('util/fonts/TimesNewerRoman-Regular.otf');
            font-display: swap;
            };
@font-face {font-family: "Quicksand";
			      src: url('https://fonts.googleapis.com/css2?family=Quicksand');
            font-weight: 700;
            font-display: swap;
            };
@font-face {font-family: "Open Sans";
			      src: url('https://fonts.googleapis.com/css2?family=Open+Sans');
            font-weight: 300;
            font-display: swap;
            }

body {
	background-color: #000;
	min-height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

body::-webkit-scrollbar {
	  display: none;
	}

.curtains-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  pointer-events: none;
}

.contentWrap {
	position: relative;
	background-color: rgba(21, 24, 35, 0.7);
	box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.3);
	border-radius: 0.75rem;
	/*&:after {
	  position: absolute;
	  content: '';
	  top: 0;
	  left: 0;
	  right: 0;
	  z-index: -1;
	  height: 100%;
	  width: 100%;
	  margin: auto;
	  filter: blur(2rem);
		transform: scale(1.005);
	  background: linear-gradient(90deg, #0fffc1, #7e0fff);
	  background-size: 200% 200%;
	  animation: animateGlow 10s ease infinite;
	  @keyframes animateGlow {
	    0%  {
			background-position: 0% 50%
		}
		50% {
			background-position: 100% 50%
		}
	    100% {
			background-position: 0% 50%
			}
	  }
	}*/
}

.video-plane {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
}

.video-plane video {
    display: none;
}

.authwrap{
  overflow: hidden;
}

.authwrap .signup{
  	position: relative;
  	width:100%;
  	height: 100%;
  }

.authwrap .login {
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
    transition: .8s ease-in-out;
  }

.authwrap .login label {
    	color: #573b8a;
    	-webkit-transform: scale(.6);
    	        transform: scale(.6);
      padding-top: 1rem;
    }

.authwrap #chk{
  	display: none;
  }

.authwrap #chk:checked ~ .login label{
    	-webkit-transform: scale(1);
    	        transform: scale(1);
    }

.authwrap #chk:checked ~ .signup label{
    	-webkit-transform: scale(.6);
    	        transform: scale(.6);
    }

.authwrap label{
  	color: #fff;
  	font-size: calc(1.355rem + 1.26vw);
  	justify-content: center;
  	display: flex;
  	margin: calc(1.405rem + 1.86vw);
  	font-weight: bold;
  	cursor: pointer;
  	transition: .5s ease-in-out;
  }

.authwrap input{
  	width: 60%;
  	height: 1.2rem;
  	background: #e0dede;
  	justify-content: center;
  	display: flex;
  	margin: 1.25rem auto;
  	padding: 0.6rem;
  	border: none;
  	outline: none;
  	border-radius: 0.33rem;
  }

@media (min-width: 1200px) {
.authwrap {
  	font-size: 2.3rem;
  	margin: 2.8rem;
}
}

button{
  width: 60%;
  height: 40px;
  margin: 0.6rem auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1.25rem;
  outline: none;
  border: none;
  border-radius: 0.33rem;
  transition: .2s ease-in;
  cursor: pointer;
}

button:hover{
    background: #6d44b8;
  }

@media (max-width: 499px) {
  .authwrap {
  	width: 75vw;
  	height: 57.5vh;
  }
  .login {
	  -webkit-transform: translateY(-130px);
	          transform: translateY(-130px);
  }
  #chk:checked ~ .login{
  	-webkit-transform: translateY(-420px);
  	        transform: translateY(-420px);
  }
}

@media (min-width: 500px) {
  .authwrap {
  	width: 60vw;
  	height: 62vh;
  }
  .login {
	  -webkit-transform: translateY(-140px);
	          transform: translateY(-140px);
  }
  #chk:checked ~ .login{
  	-webkit-transform: translateY(-450px);
  	        transform: translateY(-450px);
  }
}

@media (min-width: 720px) {
  .authwrap {
	  width: 43vw;
	  height: 95vh;
  }
  .login {
	  -webkit-transform: translateY(-160px);
	          transform: translateY(-160px);
  }
  #chk:checked ~ .login{
	   -webkit-transform: translateY(-455px);
	           transform: translateY(-455px);
   }
}

@media (min-width: 1200px) {
  .authwrap {
	  width: 37.5vw;
	  height: 72.5vh;
  }
  .login {
	  -webkit-transform: translateY(-170px);
	          transform: translateY(-170px);
  }
  #chk:checked ~ .login{
	   -webkit-transform: translateY(-515px);
	           transform: translateY(-515px);
   }
}

.chatbox {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 0.75rem;
  border: .75rem solid transparent;
  padding: 0.1rem;
  background-color: rgba(29, 32, 44, 0.5);
  overflow:auto;
  overflow-y: scroll;
  direction: ltr;
  scroll-behavior: smooth;
 }

.chatbox::-webkit-scrollbar {
    width: 1.1rem;
  }

.chatbox::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 .12rem .12rem rgba(255, 255, 255, 0.25);
    border-radius: 100px;
    backdrop-filter: blur(85%);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.4);
  }

.chatbox::-webkit-scrollbar-thumb {
      background: linear-gradient(180deg, #f57abc 0%, #708AD4 99%);
      border: 0.3rem solid transparent;
      box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.55);
      border-radius: 100px;
      background-clip: content-box;
   }

.chatbox::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(180deg, #f57abc 0%, #708AD4 99%);
        box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.65);
        border: 0.3rem solid transparent;
        border-radius: 100px;
        background-clip: content-box;
        -webkit-animation: animateGlow 5s ease infinite;
                animation: animateGlow 5s ease infinite;
     }

@-webkit-keyframes animateGlow {
         0%  {
         background-position: 0% 50%
        }
        50% {
         background-position: 100% 50%
        }
         100% {
         background-position: 0% 50%
         }
       }

@keyframes animateGlow {
         0%  {
         background-position: 0% 50%
        }
        50% {
         background-position: 100% 50%
        }
         100% {
         background-position: 0% 50%
         }
       }

.chatbox .chat-list {
     padding: 0 1.25rem;
   }

.chatbox .chat-list .messages {
       text-align: left;
       list-style: none;
       padding-top: 0.25rem;
     }

.chatbox .chat-list .messages .msgusername {
         font-family: 'Quicksand', sans-serif;
         font-weight: bold;
         font-size: 1.1rem;
         color: #eee;
       }

.chatbox .chat-list .messages .msgdate {
         font-family: 'Times Newer Roman';
         font-size: 0.69rem;
         font-style: oblique 10deg;
         color: darkgrey;
         padding: 1rem 0;
         transition: font-size .5s ease;
         transition-delay: .25s;
       }

.chatbox .chat-list .messages .msgdate:hover{
           font-size: 0.8rem;
         }

.chatbox .chat-list .messages .actualmsg {
         font-family: 'Open Sans', sans-serif;
         font-weight: normal;
         color: #ccc;
         font-size: 0.915rem;
         padding-bottom: 1.25rem;
         transition: color .25s ease;
         transition-delay: .15s;
       }

.chatbox .chat-list .messages .actualmsg:hover{
           color: #e0dede;
         }

.message-form {
  display: flex;
  height: 5rem;
}

.message-form #message {
    width: 75%;
    height: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    margin: auto;
  }

.message-form #send {
    width: 15%;
    border-radius: 0.75rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: auto;
  }

#logout {
	position: absolute;
	right: 1.25rem;
	top: 0.1rem;
	max-width: 5rem;
}

/*@media (--tiny-viewport) {
  .chatbox {
    width: 85vw;
    height: 75vh;
  }
}

@media (--small-viewport) {
  .chatbox {
    width: 80vw;
    height: 70vh;
  }
}*/

@media (min-width: 720px) {
  .chatbox {
    width: 69vw;
    height: 60vh;
  }
}

/*@media (--lrg-viewport) {
  .chatbox {
    width: 63vw;
    height: 57.5vh;
  }
}*/
